@{
    ViewData["Title"] = "Cincinnati Employees";
    var welcomes = (CincinnatiApplication.Models.Employee[]) ViewData["Welcome"];
}
<h1>@ViewData["Title"]</h1>

<p>This will be the Cincinnati employees page.</p>

<div class= "text-center">
    <table>
        <hr />
        <tr><th>Name</th><th>Sex</th><th>Race</th><th>Business Title</th><th>Job Title</th><th>Age Range</th><th>Standard Hours</th><th>Hire Date</th></tr>
        @{
            foreach (CincinnatiApplication.Models.Employee welcome in welcomes)
            {
                 <tr>
                    <td>@welcome.Name</td>
                    <td>@welcome.Sex</td>
                    <td>@welcome.Race</td>
                    <td>@welcome.BusinessTitle</td>
                    <td>@welcome.Jobtitle</td>
                    <td>@welcome.AgeRange</td>
                    <td>@welcome.StdHours</td>
                    <td>@welcome.HireDate</td>
                </tr>
            }
        }
           
    </table>
</div>