@{
    ViewData["Title"] = "Economy";
    var economy = (CincinnatiApplication.Models.Economy[])ViewData["Econ"];
}
<h1>@ViewData["Title"]</h1>

<p>This will be the about Economy.</p>

<div class="text-center">
    <table>
        <hr />
        <tr><th>Project Name</th><th>Organization Legal name</th><th>Total Project Estimated Cost</th><th>Total Funding All Sources Estimate</th><th>Estimated Program total value</th><th>Site Street Address</th></tr>
        @{
            foreach (CincinnatiApplication.Models.Economy econ in economy)
            {
                <tr>
                    <td>@econ.ProjectName</td>
                    <td>@econ.OrganizationLegalName</td>
                    <td>@econ.TotalProjectCostEst</td>
                    <td>@econ.TotalFundingAllSourcesEst</td>
                    <td>@econ.EstProgramTotalValue</td>
                    <td>@econ.SiteStreetAddress</td>
                </tr>
            }
        }

    </table>
</div>
